name: node

on:
  push:

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 18.x
        uses: actions/setup-node@v4.0.1
        with:
          node-version: '24.x'
          cache: npm
      - name: install
        run: npm install
      - name: build
        run: npm run build
